@{
    ViewData["Title"] = "Api";
}
<h1>@ViewData["Title"]</h1>

<p>You can use our website endpoints: "/api/orders/" and "/api/games/"</p>
<p>As long as you use it to expand or compliment our services!</p>
