@{
    ViewData["Title"] = "About";
}

<Container>
    <h2>About Us:</h2>
    <p>GameRentals™ brings you newest games one click away!</p>
    <p>We also have API that anyone can use, more info: <a asp-action="Index" asp-controller="Api">here</a>.</p>
    <h2>About Me:</h2>
    <p>I'm Žilvinas Čerkauskas a student at <a href="http://kitm.lt/" target="_blank" rel="noreferrer">KITM</a></p>
    <p>You can find everything I code at: <a href="https://github.com/cerkzil/" target="_blank" rel="noreferrer">GitHub</a> and everything I create at: <a href="https://www.artstation.com/milkysenpai/" target="_blank" rel="noreferrer">ArtStation</a>😋</p>
    <p>GameRentals™ was quite challenging I had to use everything I learned in ASP.NET, C# and other classes😊</p>
</Container>