@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>By creating account with us you agree us to share all your data.</p>
<p>We may use your data in ways including but not limited to:</p>
<ul>
    <li>Our public API accessible to everyone</li>
    <li>Selling it to advertisers</li>
    <li>Selling it to People's Republic of China</li>
</ul>
