@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
<p>
    We are sorry for your inconvenience ☹ you can email us at fake@email.com about your issue please include your <strong>Request ID</strong>.<br>
    Or you can just <a asp-controller="Home" asp-action="Index">Go Back</a> to the main page and continue shopping.
</p>

