@model GR.MVC.Models.GameViewModel

@{
    ViewData["Title"] = "Edit";
}

<h3>Edit</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImgLink" class="control-label"></label>
                <input asp-for="ImgLink" class="form-control" />
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Select Platform(s):</label>
                <select multiple class="form-control" id="exampleFormControlSelect1" asp-for="Platforms">
                    <option value=0>PC</option>
                    <option value=1>PS5</option>
                    <option value=2>XBOX</option>
                    <option value=3>SWITCH</option>
                </select>
                <span asp-validation-for="Platforms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect2">Select Genre(s):</label>
                <select multiple class="form-control" id="exampleFormControlSelect2" asp-for="Genres">
                    <option value=0>FPS</option>
                    <option value=1>Action</option>
                    <option value=2>Platformer</option>
                    <option value=3>Story</option>
                </select>
                <span asp-validation-for="Genres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
