@model GR.MVC.Models.OrderViewModel

@{
    ViewData["Title"] = "Order";
}

<h3>Order</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GameTitle" class="control-label">Game Title:</label>
                <input asp-for="GameTitle" class="form-control" readonly/>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label">User:</label>
                <input asp-for="UserName" class="form-control" readonly/>
            </div>
            <input asp-for="GameId" type="hidden" />
            <input asp-for="UserId" type="hidden" />
            <div class="form-group">
                <input type="submit" value="Finalize Order" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Home">Back to All Games</a>
</div>
