@model GR.MVC.Models.OrderViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Update</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrderId" />
            <div class="form-group">
                <label for="exampleFormControlSelect2">Update Order Status:</label>
                <select class="form-control" id="exampleFormControlSelect1" asp-for="OrderStatus">
                    <option value=0>OnGoing</option>
                    <option value=1>Canceled</option>
                    <option value=2>Completed</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="IndexAll">Back to List</a>
</div>
